#Index {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to bottom right, purple, yellow);
	main {
		background-color: white;
		border-radius: 5px;
		height: min-content;
		border: 3px black solid;
		display: grid;
		grid-template-columns: 100%;
		width: 80%;
		max-width: 550px;
		grid-template-rows: 1fr auto;
		height: 600px;
		max-height: 80vh;
		min-height: 250px;

		.message-list {
			overflow-y: scroll;
			display: flex;
			justify-content: start;
			flex-direction: column;
			row-gap: 10px;
			align-items: start;
			padding: 5px 25px;

			.message {
				display: flex;
				flex-direction: column;
				border-radius: 15px;
				background-color: rgb(79, 79, 79);
				color: white;
				padding: 7px 15px;
				width: max-content;
				max-width: 70%;
				word-wrap: break-word;
				.sender {
					color: aqua;
				}
				.text {
				}
				&&.mine {
					align-self: flex-end;
					.sender {
						display: none;
					}
				}
				.time {
					font-size: 10px;
					align-self: flex-end;
					margin-top: 10px;
					margin-right: 0;
				}
				> * {
					margin-right: 9px;
				}
			}
		}
		form {
			padding: 10px;
			height: auto;
			border: solid 3px black;
			border-radius: 15px;
			padding: 5px;
			margin: 0px 15px 10px;
			box-sizing: border-box;
			display: flex;
			align-items: start;
			column-gap: 7px;
			.text-border {
				flex-grow: 1;
				box-sizing: border-box;
				padding: 5px;
				textarea {
					line-height: normal;
					border: none;
					box-sizing: border-box;
					width: 100%;
					resize: none;
					scroll-behavior: auto;
					padding: 0;
					&:focus {
						border-bottom: 1px solid black;
						outline: none;
					}
				}
			}
			input[type="submit"] {
				border: 1px solid black;
				border-radius: 10px;
				padding: 8px;
				box-sizing: border-box;
				background-color: aqua;
				box-sizing: border-box;
				cursor: pointer;
				&&:disabled {
					cursor: default;
					color: inherit;
					opacity: 0.5;
					&&:disabled {
						box-shadow: none;
					}
				}
				&&:active {
					box-shadow: 0px 0px 4px 4px rgba(255, 0, 0, 0.3) inset;
				}
			}
		}
	}
}
