html,
body {
	padding: 0;
	margin: 0;
}
#root {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 7vh 1fr auto;
	min-height: 100vh;

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 8px;
		.unvisable {
			display: none;
		}
		.title {
			font-style: italic;
			text-decoration: none; /* Убирает подчеркивание */
			color: inherit; /* Делает цвет текста таким же, как у родительского элемента */
			cursor: pointer;
		}
		.account-management {
			display: flex;
			column-gap: 8px;
		}
	}
	footer {
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 8px;
	}
}
